@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --palme-green: #1a5f3a; 
  --palme-red: #8b1c1c;   
  --palme-cream: #fcfdfc; 
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--palme-cream);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif; 
}


.swiper-pagination-bullet-active {
  background-color: var(--palme-green) !important;
}
.swiper-button-next, .swiper-button-prev {
  color: white !important;
}